* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #ffffff;
  --bg-primary: #040924;
  --heading-color: #0c3440;

  --label-color: #00453a;
  --input-color: #dce2e9;
  --tt-input-color: #212529;
  --ol-input: rgba(73, 80, 87, 0.3);
  --tt-placeholder: rgba(73, 80, 87, 0.5);

  --btn-color: #02799d;

  --bg-modal: rgba(0, 0, 0, 0.7);

  --bg-error: rgba(240, 62, 62, 1);

  --ff-roboto: "Roboto", sans-serif;
  font-size: 62.5%;
}

body {
  background: var(--bg-primary);
  font-size: 1.6rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
  padding: 0 2rem;
}

.card {
  background: white;

  padding: 4.8rem 6.4rem 6.4rem;
  border-radius: 0.6rem;
  width: 100%;
  max-width: 428px;

  box-shadow: 0px 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}

.card .title {
  color: var(--heading-color);
  font-family: var(--ff-roboto);
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4rem;
}
.twoLines {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

label {
  font-family: var(--ff-roboto);
  color: var(--label-color);
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.input-wrapper input {
  padding: 1.6rem;
  border: 1px solid var(--ol-input);
  border-radius: 0.4rem;
  background-color: var(--input-color);
  color: var(--tt-input-color);
  width: 100%;
}

form input:focus {
  outline: 2px solid var(--btn-color);
}

input::placeholder {
  color: var(--tt-placeholder);
  font-size: 1.6rem;
}

.card button {
  background-color: var(--btn-color);
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;

  font-family: var(--ff-roboto);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--color-white);

  border-radius: 0.4rem;
  padding: 1.6rem;
  transition: 400ms;
  cursor: pointer;
}

form button:hover {
  background-color: #01627f;
}



.modal {
  position: relative;
}

.modal-wrapper {
  display: grid;
  place-content: center;
  position: absolute;

  background: var(--bg-modal);
  inset: 0;
  opacity: 0;
  visibility: hidden;
}

#modal {
  padding: 4.8rem 4.8rem 6.4rem;
}

.modal-wrapper.open {
  visibility: visible;
  opacity: 1;
  animation: appear 300ms;
}

.modal-wrapper button {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  padding: 0;
  background: none;

  border: none;
  cursor: pointer;
  transition: 200ms;
}

.modal-wrapper button:hover {
  transform: scale(1.1);
}

#modal-message{
  text-align: center;
  font-size: 1.9rem;
}

#modal-message span {
  font-size: 2.5rem;
}

#modal-message #type {
  width: 30rem;
}




@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.alert {
  position: absolute;

  background: var(--bg-error);
  width: 100%;
  padding: 0.8rem 0;

  color: var(--color-white);
  font-family: var(--ff-roboto);
  font-weight: 700;
  line-height: 2rem;
  text-align: center;

  transform: translateY(-30px);
  transition: 500ms;

  visibility: hidden;
  opacity: 0;
}

.alert.open {
  visibility: visible;
  opacity: 1;

  transform: translateY(0px);
  transition: transform 500ms;
}

@media (max-width: 490px) {
  .card {
    padding: 4rem;
  }
  #modal {
    padding: 2rem;
  }

}
